@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html, body {
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

body {
  color: #000000;
  background: #ffffff;
  font-family: var(--font-poppins);
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E3AFBC; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5D001E; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transparentscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  scrollbar-color: transparent;
  &::-webkit-scrollbar {
    width: 1px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.custom-vertical-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--grey-4-clr);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--grey-3-clr);
    border-radius: 10px;
  }
}

.custom-horizontal-scrollbar > div::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px;
}

/* Track */
.custom-horizontal-scrollbar > div::-webkit-scrollbar-track {
  background: var(--grey-2-clr);
  border-radius: 10px;
}

/* Handle */
.custom-horizontal-scrollbar > div::-webkit-scrollbar-thumb {
  background: var(--grey-4-clr);
  border-radius: 10px;
}

/* Handle on hover */
.custom-horizontal-scrollbar > div::-webkit-scrollbar-thumb:hover {
  background: var(--grey-3-clr);
  border-radius: 10px;
}

.backDropFilter{
  backdrop-filter: blur(10px);
}
.chevronAfter:after{
  content:'>';
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    background-color: #000000;
    border-radius: 50%;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    height: 12px;
    width: 12px;
    /* background-image: url('../path/chevron.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

